h1{
    color: burlywood;
    font-family: fantasy;
}

h2{
    color: yellowgreen;

}

#menu-bar {
    width: 40;
    height: 20px;
    padding-top: 12px;
}

#menu-bar a{
    color: #990073; 
    font-family: helvetica,sans-serif;
    font-size: 18px;
    text-decoration : none;
    font-weight: 800;

    padding-left: 10px;
    padding: 10px;
}
#menu-bar a:hover{
    color: #5077bd;
}


table{
    font-family: helvetica,sans-serif;
    border-collapse: separate;
    border-width: 1px;
    border-style: solid;
    border-color: #990073;

}
p{
    color: black;
    font-size: 20px;
    font-weight: 400;
}